<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Repetytor</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" th:href="@{/index.css}">
    <link rel="stylesheet" th:href="@{/_common.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🧠</text></svg>">
</head>
<body>

<nav>
    <div class="nav-wrapper">
        <a href="#" data-target="sidenav" class="sidenav-trigger show-on-large" id="menu"><i class="material-icons">menu</i></a>
        <a href="index.php" class="brand-logo">Repetytor</a>
    </div>
</nav>

<ul class="sidenav" id="sidenav">
</ul>

<div class="container">
    <!-- ================================================= -->
    <div class="row" id="question-row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="card-title"></div>
                    <div id="question"></div>
                    <div>
                        <input type="number" id="answer">
                    </div>
                    <div class="progress">
                        <div id="progressbar" class="determinate"></div>
                    </div>
                </div>
                <div class="card-action">
                    <button href="#!" id="check" class="btn">sprawdź</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="result-row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Twój wynik</span>
                    <div id="score">
                        <div id="score-percent" class="score-info">0</div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row" id="progress-row">
        <div class="col s12">
            <div class="card">
                <div class="card-content" id="progress-ul">
                    <ul class="pagination">
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="start-row">
        <div class="col s12" id="start-buttons">
        </div>
        <div id="no-decks">
            <div class="infobox light-blue lighten-4">
                <i class="medium material-icons left">list</i>
                <div class="msg valign-wrapper">
                    <span>Nie masz zdefiniowanych zestawów pytań.<br>
                        Zalogowani użytkownicy mogą dodawać zestawy pytań na stronie <a href="decks.php">Zestawy pytań</a></span>
                </div>
                <div class="float-fixer"></div>
            </div>
        </div>
    </div>

    <div class="modal" id="ok-modal">
        <div class="modal-content">
            <div class="emoji">✅</div>
        </div>
    </div>

    <div class="modal" id="wrong-modal">
        <div class="modal-content">
            <div class="emoji">❌</div>
            <div id="expected-result"></div>
        </div>
    </div>
    <!-- ================================================= -->
</div><!-- container -->

<div id="request-in-progress-tip">
    <div class="progress">
        <div class="indeterminate"></div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js"></script>
<script th:src="@{/_common.js}"></script>
<script th:src="@{/index.js}"></script>
</body>
</html>
